<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704643509387-219fh1hss1g59j8t7qk2bid1lnb0u22n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704643509387-219fh1hss1g59j8t7qk2bid1lnb0u22n</string>
	<key>API_KEY</key>
	<string>AIzaSyAP6QHd8e5ssfTUr1CD7THFkNQV05H_Z-0</string>
	<key>GCM_SENDER_ID</key>
	<string>704643509387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>quran-app-6e8e8</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-app-6e8e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704643509387:ios:2ae9fa55f763e876da388e</string>
</dict>
</plist>